:root {
  --ion-color-primary: #F57C1F;
  --ion-color-primary-rgb: 245, 124, 31;

  --ion-color-secondary: #F4A259;
  --ion-color-secondary-rgb: 244, 162, 89;

  --ion-color-tertiary: #4A2C1D;
  --ion-color-tertiary-rgb: 74, 44, 29;

  --ion-background-color: #FFFFFF;
  --ion-card-background: #FFF8F1;

  --ion-text-color: #2E2E2E;
  --ion-color-medium: #7A4E2D;

  --ion-color-success: #6BBF59;
  --ion-color-danger: #D9534F;

  --pedernal-beige: #F5E6D3;
  --pedernal-crema: #FFF8F1;
  --pedernal-arena: #D9C2A3;
  --pedernal-gris: #E8E3DC;
}

html.theme-dark {
  --ion-background-color: #171310;
  --ion-background-color-rgb: 23, 19, 16;
  --ion-card-background: #241d19;
  --ion-text-color: #f7ede5;
  --ion-text-color-rgb: 247, 237, 229;
  --ion-color-step-50: #221c18;
  --ion-color-step-100: #2d2520;
  --ion-color-step-150: #382e28;
  --ion-color-step-200: #433730;
  --ion-color-step-300: #594a40;
  --ion-color-step-400: #705d50;
  --ion-color-step-500: #877164;
  --ion-color-step-600: #9f897d;
  --ion-color-step-700: #b8a399;
  --ion-color-step-800: #d0bdb5;
  --ion-color-step-900: #eadbd4;
  --ion-color-medium: #c9a994;
  --pedernal-beige: #171310;
  --pedernal-crema: #241d19;
  --pedernal-arena: #5d4638;
  --pedernal-gris: #342a25;
}
